.item {
  display: grid;
  padding: 12px 0;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #eaeaea;

  &_avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #efefef;
  }

  &_info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    gap: 4px;

    &_name {
      font-size: 13px;
      color: #1e1e1e;
    }

    &_last_message {
      font-size: 12px;
      color: #999;
    }
  }

  &_time {
    font-size: 10px;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    color: #999;
  }
}
